<div class="hero">
    <app-header></app-header>

    <div class="heroGrid">
        <div class="heroContent">
            <h1>
                <div>{{ 'KEEP_TRACK' | translate}}&nbsp;</div>
                <span>
                {{ 'ANYTIME' | translate}}
              </span>
            </h1>
            <p>{{ 'USING_APP' | translate}}</p>
        </div>
        <div>
            <img src="/assets/ministryapp_preview.png" alt="Icon">
        </div>
    </div>
</div>

<div class="highlight">
    <h1>{{ 'WHY_HEADER' | translate}}</h1>
    <div>
        <div class="card">
            <div class="card-head"><img src="assets/features.svg"></div>
            <div class="card-body">
                <h1>{{ 'REASON_1_TITLE' | translate}}</h1>
                <p>{{ 'REASON_1_BODY' | translate}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-head"><img src="assets/lock.svg"></div>
            <div class="card-body">
                <h1>{{ 'REASON_2_TITLE' | translate}}</h1>
                <p>{{ 'REASON_2_BODY' | translate}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-head"><img src="assets/free.svg"></div>
            <div class="card-body">
                <h1>{{ 'REASON_3_TITLE' | translate}}</h1>
                <p>{{ 'REASON_3_BODY' | translate}}</p>
            </div>
        </div>

    </div>

    <h1>{{ 'LETS_GO' | translate}}</h1>
    <div>
        <div class="card card-no-title">
            <div class="card-body">
                <h1>{{ 'WHY_WAIT' | translate}}</h1>
                <p>{{ 'DOWNLOAD_AT' | translate}}</p>
                <div class="downloads">
                    <a href='https://www.amazon.de/Philipp-Hahn-Dienstapp/dp/B01EP589C6'><img class="add-padding" alt='Available at Amazon Appstore' src='/assets/amazon-appstore-badge-english-black.png' /></a>
                    <a href='https://play.google.com/store/apps/details?id=tk.phili.dienst.dienst&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='/assets/en_badge_web_generic.png' /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>