h1 {
    padding-bottom: 16px;
}

.imprintPage {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}