<div class="imprintPage">
    <app-header>
    </app-header>
    <div class="infoBoxContent">
        <h1>{{ 'PP_TITLE' | translate}}</h1>
        <p>{{ 'PP_INTRO' | translate}}</p>
        <h3>{{ 'PP_INFO_TITLE' | translate}}</h3>
        <p>{{ 'PP_INFO_DESC' | translate}}</p>
        <ul>
            <li>
                <p>
                    <a href="https://policies.google.com/privacy">{{ 'PP_INFO_GPS' | translate}}</a>
                </p>
                <p>
                    {{ 'PP_INFO_GPS_DESC' | translate}}
                </p>
            </li>
            <li>
                <p>
                    <a href="https://firebase.google.com/policies/analytics">{{ 'PP_INFO_GAFF' | translate}}</a>
                </p>
                <p>
                    {{ 'PP_INFO_GAFF_DESC' | translate}}
                </p>
            </li>
            <li>
                <p>
                    <a href="https://www.jw.org/">{{ 'PP_INFO_JW' | translate}}</a>
                </p>
                <p>
                    {{ 'PP_INFO_JW_DESC' | translate}}
                </p>
            </li>
        </ul>
        <h3>{{ 'PP_LOG_TITLE' | translate}}</h3>
        <p>{{ 'PP_LOG_INFO' | translate}}</p>
        <h3>{{ 'PP_LINK_TITLE' | translate}}</h3>
        <p>{{ 'PP_LINK_DESC' | translate}}</p>
        <h3>{{ 'PP_ASSOCIATION_TITLE' | translate}}</h3>
        <p>{{ 'PP_ASSOCIATION_DESC' | translate}}</p>
        <h3>{{ 'PP_CONTACT_TITLE' | translate}}</h3>
        <p>{{ 'PP_CONTACT_DESC' | translate}}</p>
        <div class="contactSection">
            <div><img src="/assets/person.svg"></div>
            <div>
                <p>Philipp Hahn</p>
                <p>Henry-Dunant-Str. 7</p>
                <p>91522 Ansbach</p>
                <p>{{ 'IMPRINT_GERMANY' | translate}}</p>
                <p><a href="mailto:philipp@raffaelhahn.de">philipp@raffaelhahn.de</a></p>
            </div>
        </div>
        <p class="effectiveText">{{ 'PP_POLICY_EFFECTIVE' | translate}}</p>

    </div>
    <app-footer></app-footer>
    <img class="bigBackgroundIcon" src="/assets/dienstapp_icon_nobckgrnd.png">
</div>